#maintitle{
    text-align: center;
    background-color: black;
    color: white;
    height: max-content;
    width: auto;
}
.title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}

section{
     display: flex;
}

.label{
     text-decoration: none;
     font-weight: bold;
}

.home{
    background-color: black;
    color: white;
    height: 48px;
    width: 80px;
}

.image{
    height: 400px;
    width: auto;
    margin: 10px;
}
.rating{
    font-style: italic;
}
.body-text{
    text-align: left;
    font-family: Pyidaungsu;
}
div{
    text-align: center;
}
