
/* Index */
#maintitle{
    text-align: center;
    background-color: black;
    color: white;
    width: auto;
}
.home{
    background-color: black;
    color: white;
    height: 48px;
    width: 80px;
}
.index-box{
    display: flex;
    justify-content: space-around;
}
.image{
    height: 400px;
    width: auto;
}
a{
    text-decoration: none;
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
    border-right: 4px solid black;
    border-bottom: 4px solid gray;
}

.cinema{
    /* background-color:blue; */
    padding: 20px;
}

/* Content Pages */
.rating{
    font-style: italic;
}
.body-text{
    text-align: left;
    font-family: Pyidaungsu;
}

