#maintitle{
    text-align: center;
    background-color: black;
    color: white;
    height: max-content;
    width: auto;
}

a{
    text-decoration: none;
}
.title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}

.cataloguebox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.individualindexbox{
    display: flex;
    flex-direction: column;
}
.home{
    background-color: black;
    color: white;
    height: 48px;
    width: 80px;
}

.image{
    height: 400px;
    width: auto;
}

.labelcontainer{
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.label{
    color: #242222;
}
.rating{
    font-style: italic;
}
.body-text{
    text-align: left;
    font-family: Pyidaungsu;
}

